body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.ajust {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ajust2 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.ajust3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: flex;
    position: relative;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_color {
    color: #FF0000 !important;
}

.footer {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    position: fixed;
    margin-top: 100px;
    overflow: hidden !important;
}

.top_nav {
    overflow: hidden !important;
}